@import url('https://fonts.googleapis.com/css2?family=Chewy&family=DynaPuff:wght@400..700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Shadows+Into+Light&display=swap');
.portafolio{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    font-family: Chewy;
    font-size: 40px;
    color: #49195ee0;
    margin-bottom: 25px;
    text-align: center;
}
.imgsYvideos{
    display: grid; /*Cuadrícula*/
    grid-template-columns: repeat(3, 1fr); /*Crea columnas del mismo ancho en un contenedor de cuadrícula (3)Cantidad de columnas- 1fr(fraction)Se divide en tres partes iguales*/
    gap: 50px;
    width: 100%;
    justify-items: center;
    align-items: start;
}
.portafolio img, .portafolio iframe{
    width: 100%;
    height: 500px;
    object-fit: cover; /* Una imagen o video llena el espacio asignado por el contenedor*/
    max-width: 850px; 
    border: 2px solid #c49ed48e; 
    border-radius: 24px; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    display: block;
}
.tarjeta{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: start;
}
